/* fonts for all */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap'); 

body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    
}

/* players style */

.top-player, .top-blog{
    padding: 36px 90px 30px 21px;
}
.container{
    background-color: white;
    width: 870px;

}
h2{
    font-size: 24px;
    color: #562EFF;   
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
}
.player, .blog{
    display: flex;
    gap: 16px;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}
/* blogs style */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog img{
    width: 177px;
}
span a{
    text-decoration: none;
}
/* responsive  */
/* for mobile */
@media screen and (max-width: 576px) {

    .players, .blogs{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    
}
h2{
    margin-left: 70px;
}
.player, .blog{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.blog h3,p{
    margin-left: 55px;
}
}